body, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-container {
  padding: 80px 40px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.flex-item-text, .flex-item-image {
  flex: 1;
  max-width: 50%; 
}

.flex-item-text {
  text-align: justify;
  padding: 0 20px 20px;
  margin: 20px;
}

.flex-item-image {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.flex-item-image img {
  width: 100%; 
  height: auto;
  max-width: 90%; 
  border-radius: 8px;
}
