.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
  }
  
  .flexBox > div {
    flex: 1; 
  }
  
  .flexBox img {
    max-width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 8px; 
  }
  
  .flexBox > div:last-child {
    flex-basis: 500px; 
  }
  