.img {
  background-image: url("./assets/images/felipe-bustillo-vN24f5_zpiA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
